﻿@{
    ViewBag.Title = "Calculator - Asp.NET MVC";
}

<div class="row">
    <div class="col-md-4">
        <br />
        <form method="post" action="/Home/Count?a&b&op" name="calcForm">
            <table>
                <tr>
                    <td><p>a: </p></td>
                    <td>
                        <input type="text" id="a" name="a" pattern="^[0-9]+$" />
                    </td>
                </tr>
                <tr>
                    <td><p>op: </p></td>
                    <td>
                        <input type="text" id="op" name="op" pattern="[+-/*]+" /> + - / *
                    </td>
                </tr>
                <tr>
                    <td><p>b: </p></td>
                    <td>
                        <input type="text" id="b" name="b" pattern="^[0-9]+$"/>
                    </td>
                </tr>
                <tr>
                    <td><p>res: </p></td>
                    <td>
                        <input type="text"  maxlength="100" readonly="readonly" id="res" name="res" value=@ViewBag.res />
                    </td>
                </tr>
                <tr><td></td><td><input type="submit" value="Calc" name="calcBtn" /></td></tr>
            </table>
        </form>
    </div>
</div>