a::  <input type="text" id="txtA"> <br>
op <input type="text" id="txtOp"> <br>
b  <input type="text" id="txtB"> <br>
res<input type="text" id="txtRes"> <br>
<input type="button" value="calc" onClick="MyCalc()">


<script>
    function MyCalc()
    {
        //txtRes.value = eval(txtA.value + txtOp.value + txtB.value);
        var a = parseInt(txtA.value);
        var b = parseInt(txtB.value);
        txtRes.value = CalcX(a, b, txtOp.value);
    }

    function CalcX( a, b, op)
    {
        var res = 0;
        switch (op)
        {
            case '+': res = a + b; break;
            case '-': res = a - b; break;
            case '/': res = a / b; break;
            case '*': res = a * b; break;
        }
        return res;
    }
</script>